@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    margin: 0;
}

.start-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 150px;
    z-index: 4;
    height: 100%;
}

.start-screen img {
    width: 720px;
    height: 480px;
    display: block;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.d-none {
    display: none !important;
}

canvas {
    background-color: black;
    display: block;
    cursor: pointer;
}

.canvas-container {
    z-index: 1;
}

.replay-button-container {
    position: absolute;
    top: 54%;
    z-index: 2;
}

.replay-button {
    height: 40px;
    width: 90px;
    color: yellow;
    border: 0;
    border-radius: 3px;
    background-color: red;
    cursor: pointer;
    font-size: 24px;
}

.start-game-container {
    position: absolute;
    top: 50%;
    z-index: 5;
}

.start-game-button {
    height: 65px;
    width: 125px;
    color: yellow;
    border: 0;
    border-radius: 3px;
    background-color: red;
    cursor: pointer;
    font-size: 24px;
}

.touch-icons-main-container {
    display: flex;
    width: 720px;
    justify-content: space-between;
    z-index: 6;
    position: absolute;
    top: 566px;
}

.touch-icons-main-container img {
    height: 50px;
    width: 50px;
}

.touch-icon-container {
    display: flex;
    width: 200px;
    justify-content: space-around;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}